body {
    margin: 0;
    padding: 0;
}

* {
    color: white;
    font-family: 'Open Sans', Arial, sans-serif;
    ;
}

header {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.6);
}

.container {
    position: relative;
    max-width: 96%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.form,
.form-label {
    display: flex;
    align-items: center;
    width: 100%;
}

.checkbox {
    position: absolute;
    right: 0;
    display: none !important;
    visibility: hidden;
}

.fa-bars {
    position: absolute;
    right: 0;
    display: none !important;
}

.fa-xmark {
    position: absolute;
    right: 0;
    display: none !important;
    visibility: hidden;
}


.nav {
    padding: 10px;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    width: 100%;
}

.nav-form__list {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-form__list-item {
    list-style: none;
    font-size: 18px;
}

.right-nav {
    margin-right: 10px;
    display: flex;
    width: 34%;
}

.phone-number a {
    font-size: 28px;
}

.phone-number {
    margin-right: auto;
}

.fa-brands {
    font-size: 28px;
}

.icons {
    display: flex;
    justify-content: space-between;

}

.main {
    background-image: url('./image/hero-bg1.webp');
    height: 100vh;
    background-size: cover;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
}

@media screen and (max-width:980px) {


    header {
        background-color: black;
    }

    .nav {
        display: none;
        z-index: 99;
    }

    .form-label {
        display: flex;
        align-items: center;
        position: relative;
    }

    .bars {
        font-size: 28px;
        top: 20px;
        display: inline-block !important;
    }

    .checkbox {
        display: inline-block !important;
        position: absolute;

    }

    .fa-xmark {
        z-index: 99 !important;
        position: absolute;
        right: 40px;
        visibility: visible;

    }

    .checkbox:checked~.fa-bars {
        visibility: hidden;
    }

    .checkbox:checked~.fa-xmark {
        visibility: visible;
    }

    .checkbox:checked~.nav {
        display: flex;
        flex-direction: column;
        background-color: black;
        left: 0;
        top: 0px;
        position: fixed;
        left: -10px;
        z-index: 80;
    }



    .nav-form__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: -30px;
    }

    .nav-form__list-item {
        margin-top: 10px;
        text-align: center;
    }

    .right-nav {
        margin-top: 35px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .phone-number {
        display: table;
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
        margin-left: 110px;
        width: 300px;
    }


    .phone-number a {
        display: flex;
        max-width: 100%;
    }

    .icons {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 10px;
    }

    .icons a {
        margin-left: 10px;
    }

    .icons:first-child {
        margin-left: 0;
    }

}

.main-hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white !important;
}

.main-hero h1 {
    font-size: 72px;
    text-align: center;
    color: white;
    z-index: 10;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 50px;
}

.main-hero p {
    z-index: 10;
    font-size: 26px;
    max-width: 700px;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.main-hero a {
    padding: 10px;
    background-color: #ff623b;
    padding: 20px 60px;
    z-index: 1;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 20px;
}


@media screen and (max-width:980px) {

    .main-hero h1 {
        font-size: 68px;
    }

    .main-hero {
        font-size: 20px;
    }

    .main-hero {
        font-size: 16px;
    }

    .main-hero a {
        font-size: 16px;
    }

}

@media screen and (max-width:640px) {

    .main-hero h1 {
        font-size: 30px;
    }

    .main-hero p {
        font-size: 16px;
    }

    .br {
        display: none;
    }

}

@media screen and (max-width:400px) {

    .main-hero h1 {
        font-size: 34px;
    }


    .br {
        display: block;
    }

}

.forms {
    background-color: #e8e8e8;
    margin: 0;
    padding: 0;
}

.forms__title {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    padding-top: 150px;
}

.forms__text {
    color: black;
    padding-top: 41px;
    max-width: 760px;
    width: 100%;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 30px;
}

.form {
    display: flex;
    justify-content: center;
}

#name,
#email,
#message {
    width: 760px;
    height: 60px;
    margin-top: 3px;
    font-size: 18px;
    border-radius: 7px;
    outline: none;
    border: 1px solid black;
    padding-left: 5px;
    background-color: #e8e8e8;
    color: black;
}

#message {
    height: 200px;
    padding-top: 5px;
}

#btn {
    background-color: black;
    margin: 0 auto;
    border: none;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 7px;
    font-weight: 700;
    height: 50px;
    margin-bottom: 120px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:776px) {

    #name,
    #email,
    #message {
        max-width: 500px;
    }
}

@media screen and (max-width:520px) {

    #name,
    #email,
    #message {
        max-width: 400px;
    }

}

@media screen and (max-width:420px) {

    #name,
    #email,
    #message {
        max-width: 300px;
    }
}

@media screen and (max-width:320px) {

    #name,
    #email,
    #message {
        max-width: 200px;
    }
}

.images-sect h1 {
    color: black !important;
    padding-top: 150px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 42px;
}

.images-sect h1 a {
    color: #ff623b;
}

.images-sect p{
    color: black;
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;
    opacity: 0.7;
    padding-bottom: 30px;
}

.images-flexbox{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.grid-huge{
    width: 560px;
    height: 560px;
}

.flex-img{
    width: 260px;
    height: 260px;
    margin-right: 20px;
}


.flex-img2{
    margin-left: 20px;
}

.img-box{
    margin-left: 10px;
}

.grid-hugebox{
    margin-right: 20px;
}


@media screen and (max-width:1224px) {
    .grid-huge{
        width: 450px;
        height: 450px;
    }
    
    .flex-img{
        width: 205px;
        height: 205px;
    }
}

@media screen and (max-width:995px) {
    .grid-huge{
        margin-left: 0;
        margin-right: 0;
        width: 600px;
    }
    
    .flex-img{
        width: 290px;
        margin-left: 0;
        margin-right: 0;
    }

    .images-flexbox{
        flex-direction: column;
        align-items: center;
    }

    .img-box{
        margin-left: 0;
        margin-right: 0;
    }

    .grid-hugebox{
        margin-right: 0;
    }

    .flex-img1 {
        margin-right: 18px;
    }

    .img-box:first-child{
        margin-right: 0;
    }


}

@media screen and (max-width:628px) {
    
    .grid-huge{
        width: 500px;
        height:500px;
    }

    .flex-img{
        width: 240px;
        height: 240px;
    }

}

@media screen and (max-width:525px) {
    
    .grid-huge{
        width: 455px;
        height: 455px;
    }

    .flex-img{
        width: 215px;
        height: 215px;
    }

}

@media screen and (max-width:455px) {
    
    .grid-huge{
        width: 385px;
        height: 385px;
    }

    .flex-img{
        width: 182px;
        height: 182px;
    }
}

@media screen and (max-width:470px) {
    
    .grid-huge{
        width: 385px;
        height: 385px;
    }

    .flex-img{
        width: 182px;
        height: 182px;
    }
}

@media screen and (max-width:400px) {
    
    .grid-huge{
        width: 358px;
        height: 358px;
    }

    .flex-img{
        width: 169px;
        height: 169px;
    }
}


@media screen and (max-width:376px) {
    
    .grid-huge{
        width: 280px;
        height: 280px;
    }

    .flex-img{
        width: 130px;
        height: 130px;
    }
}

@media screen and (max-width:295px) {
    
    .grid-huge{
        width: 230px;
        height: 230px;
    }

    .flex-img{
        width: 105px;
        height: 105px;
    }
}

.about{
background-color: #e8e8e8;
}

.about__title{
    color: black;
    text-align: center;
    font-size: 42px;
    margin-bottom: 40px;
    line-height: 1.23;
    padding-top: 150px;
    font-weight: 600;
}

.about__text{
    color: black;
    text-align: center;
    max-width: 560px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;
    opacity: 0.7;
    padding-bottom: 105px;
}

.about-flexbox{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-card{
    display: flex;
    align-items: flex-start;
}

.number{
    background-color: black;
    width: 60px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}



